/deep/ .el-menu--vertical {

  .el-menu-item{
    line-height: 56px!important;
  }
  .el-menu-item:hover{
    background-color: $mainThree-bgc!important;
  }

  &:hover{
    .el-menu {
      background-color: $mainSecond-bgc!important;
    }
  }
}